<!-- Footer -->
<div class="footer">
	<div class="container">
		<span>&copy; 2016 Lunar Rabbit Games, Ltd. All rights reserved. </span>
		<a class="marketing-link twitter" 
			href="{{ site.twitter_url }}">
				<span class="fa fa-fw fa-twitter"></span>
		</a>
		<a class="marketing-link facebook" 
			href="{{ site.facebook_url }}">
				<span class="fa fa-fw fa-facebook"></span>
		</a>
		<a class="marketing-link tumblr" 
			href="{{ site.tumblr_url }}">
				<span class="fa fa-fw fa-tumblr"></span>
		</a>
		<a class="marketing-link email" 
			href="mailto:{{ site.email }}">
				<span class="fa fa-fw fa-envelope"></span>
		</a>
	</div>
</div>